<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kkkkkk.miniappmeme.mapper.AvatarLabelMapper">
  <resultMap id="BaseResultMap" type="com.kkkkkk.miniappmeme.entity.AvatarLabel">
    <id column="id_avatar" jdbcType="BIGINT" property="idAvatar" />
    <id column="id_label" jdbcType="BIGINT" property="idLabel" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="map">
    delete from avatar_label
    where id_avatar = #{idAvatar,jdbcType=BIGINT}
      and id_label = #{idLabel,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.kkkkkk.miniappmeme.entity.AvatarLabel">
    insert into avatar_label (id_avatar, id_label)
    values (#{idAvatar,jdbcType=BIGINT}, #{idLabel,jdbcType=BIGINT})
  </insert>
  <select id="selectAll" resultMap="BaseResultMap">
    select id_avatar, id_label
    from avatar_label
  </select>
  <select id="selectByLabelId" parameterType="java.lang.Long" resultType="java.lang.Long">
    select id_avatar
    from avatar_label
    where id_label = #{LabelId, jdbcType=BIGINT}
  </select>
  <select id="selectByAvatarId" parameterType="java.lang.Long" resultType="java.lang.Long">
    select id_label
    from avatar_label
    where id_avatar = #{avatarId, jdbcType=BIGINT}
  </select>
</mapper>