<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kkkkkk.miniappmeme.mapper.AvatarMapper">
  <resultMap id="BaseResultMap" type="com.kkkkkk.miniappmeme.entity.Avatar">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="src" jdbcType="VARCHAR" property="src" />
    <result column="time" jdbcType="TIMESTAMP" property="time" />
    <result column="count_download" jdbcType="INTEGER" property="countDownload" />
    <result column="category" jdbcType="BIGINT" property="category" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from avatar
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.kkkkkk.miniappmeme.entity.Avatar">
    insert into avatar (src, time, category)
    values (#{src,jdbcType=VARCHAR}, #{time,jdbcType=TIMESTAMP},
       #{category,jdbcType=BIGINT})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.kkkkkk.miniappmeme.entity.Avatar">
    update avatar
    set src = #{src,jdbcType=VARCHAR},
      time = #{time,jdbcType=TIMESTAMP},
      count_download = #{countDownload,jdbcType=INTEGER},
      category = #{category,jdbcType=BIGINT}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select id, src, time, count_download, category
    from avatar
    where id = #{id,jdbcType=BIGINT}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, src
    from avatar
  </select>
  <select id="selectBySrc" resultType="java.lang.Long" parameterType="java.lang.String">
    select id
    from avatar
    where src = #{src, jdbcType=VARCHAR}
  </select>
  <select id="selectByCategory" resultMap="BaseResultMap" parameterType="java.lang.Long">
    select id, src
    from avatar
    where category = #{id, jdbcType=BIGINT}
  </select>
</mapper>