<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kkkkkk.miniappmeme.mapper.CategoryAvatarMapper">
  <resultMap id="BaseResultMap" type="com.kkkkkk.miniappmeme.entity.CategoryAvatar">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from category_avatar
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="java.lang.String">
    insert into category_avatar (name)
    values (#{name,jdbcType=VARCHAR})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.kkkkkk.miniappmeme.entity.CategoryAvatar">
    update category_avatar
    set name = #{name,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select id, name
    from category_avatar
    where id = #{id,jdbcType=BIGINT}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, name
    from category_avatar
  </select>
  <select id="selectByName" resultMap="BaseResultMap" parameterType="java.lang.String">
    select id, name
    from category_avatar
    where name = #{name, jdbcType=VARCHAR}
  </select>
</mapper>