<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kkkkkk.miniappmeme.mapper.SentenceMapper">
  <resultMap id="BaseResultMap" type="com.kkkkkk.miniappmeme.entity.Sentence">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="time" jdbcType="TIMESTAMP" property="time" />
    <result column="count_copy" jdbcType="INTEGER" property="countCopy" />
    <result column="content" jdbcType="LONGVARCHAR" property="content" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from sentence
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.kkkkkk.miniappmeme.entity.Sentence">
    insert into sentence (id, time, count_copy, 
      content)
    values (#{id,jdbcType=BIGINT}, #{time,jdbcType=TIMESTAMP}, #{countCopy,jdbcType=INTEGER}, 
      #{content,jdbcType=LONGVARCHAR})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.kkkkkk.miniappmeme.entity.Sentence">
    update sentence
    set time = #{time,jdbcType=TIMESTAMP},
      count_copy = #{countCopy,jdbcType=INTEGER},
      content = #{content,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select id, time, count_copy, content
    from sentence
    where id = #{id,jdbcType=BIGINT}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, time, count_copy, content
    from sentence
  </select>
</mapper>